@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 15px 10px -15px #383737a8;
}
.header img {
  height: 60px;
}

.menu-icon {
  margin-left: 20px;
}
.search-icon {
  margin-right: 20px;
}

#container {
  display: flex;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  display: flex;
  gap: 10px;
}

.card__image {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
  flex: 1 1 0;
}

.card__details {
  padding: 0px 8px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 2 1 0;
}

.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;
  margin-right: 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
  color: #788697;
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;
}

/* Style p element */
.description {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
  font-family: "Roboto", sans-serif;
}

.source {
  font-size: 14px;
  font-weight: bold;
}
.date {
  font-size: 14px;
  font-weight: bold;
}

/* body{
    background-color: #f9f6ef;
    font-family: 'Playfair Display', serif; 
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icons svg{
    
    margin: 15px 10px 5px 15px;
} 
*/
